/*.toppage:before { 
	content: "LOADING PAGE... PLEASE WAIT... BY WWW.0PLAYSTATION.COM ";
}
.toppagestyle { 
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}
.bottompage:before { 
	content: "LOADING PAGE... PLEASE WAIT... BY WWW.0PLAYSTATION.COM";
}
.bottompagestyle { 
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}*/


/* if screen size is more than 992px */
body {
  zoom: 100%;
}

/* if screen size is less than 992px */
@media screen and (max-width: 700px) {
  body {
    zoom: 55%;
  }
}

/* if screen size is less than 500px */
@media screen and (max-width: 500px) {
  body {
    zoom: 45%;
  }
}

/* if screen size is less than 300px */
@media screen and (max-width: 300px) {
  body {
    zoom: 40%;
  }
}

#search {
	width: 185px;
}